# Auto detect text files and perform LF normalization
* text=auto
*[[:space:]].jpg filter=lfs diff=lfs merge=lfs -text
*[[:space:]].psd filter=lfs diff=lfs merge=lfs -text
*[[:space:]].png filter=lfs diff=lfs merge=lfs -text
*[[:space:]].fbx filter=lfs diff=lfs merge=lfs -text
*[[:space:]].prefab filter=lfs diff=lfs merge=lfs -text
*[[:space:]].anim filter=lfs diff=lfs merge=lfs -text
*[[:space:]].controller filter=lfs diff=lfs merge=lfs -text
*[[:space:]].wav filter=lfs diff=lfs merge=lfs -text
*[[:space:]].mp3 filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.date filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
